WeatherForecast.cs
obj/DotNetDapper.csproj.nuget.dgspec.json
obj/DotNetDapper.csproj.nuget.g.props
obj/DotNetDapper.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/DotNetDapper.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/DotNetDapper.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/DotNetDapper.assets.cache
obj/Debug/netcoreapp3.1/DotNetDapper.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/DotNetDapper.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/DotNetDapper.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/DotNetDapper.dll
obj/Debug/netcoreapp3.1/DotNetDapper.exe
obj/Debug/netcoreapp3.1/DotNetDapper.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/DotNetDapper.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/DotNetDapper.pdb
obj/Debug/netcoreapp3.1/DotNetDapper.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/staticwebassets/DotNetDapper.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/DotNetDapper.StaticWebAssets.xml
bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/DotNetDapper.deps.json
bin/Debug/netcoreapp3.1/DotNetDapper.dll
bin/Debug/netcoreapp3.1/DotNetDapper.exe
bin/Debug/netcoreapp3.1/DotNetDapper.pdb
bin/Debug/netcoreapp3.1/DotNetDapper.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/DotNetDapper.runtimeconfig.json
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
.vscode/launch.json
obj/Debug/netcoreapp3.1/DotNetDapper.csproj.CopyComplete
obj/Debug/netcoreapp3.1/DotNetDapper.MvcApplicationPartsAssemblyInfo.cs
bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
.vs/DotNetDapper/DesignTimeBuild/.dtbcache.v2
.vs/DotNetDapper/v16/.suo
/obj
/bin/Debug
/.vs/DotNetDapper
*_log.txt
